<h1>Create a new meal</h1>
<%= form_for @meal do |f| %>
  <div>

  <%= f.label :food %>
  <%= f.text_field :food %>
</div>
  <div>
  <%= f.label :calories %>
  <%= f.text_field :calories %>
</div>


<%= f.submit %>
<% end %>
